{% extends 'dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Payments</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'payments' %}">Payments</a>
                    </li>
                    <li class="breadcrumb-item active">{% if id %} Edit {% else %} New {% endif %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">{% if id %} Edit {% else %} Add {% endif %} Room</h5>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if id %}
                            <form action="{% url 'edit_room' id %}" method="post">
                        {% else %}
                            <form action="{% url 'add_room' %}" method="post">
                        {% endif %}
                            {% csrf_token %}

                            {{ form|crispy }}

                            <button class="btn btn-success col-2 float-right">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
